@import 'https://fonts.googleapis.com/css?family=Work+Sans|Space+Mono';

/*background: #6ba2aa
form: #9ecbd2
button: #fce87c*/

body {
  font-family: 'Space Mono', monospace;
  background: #e9ebee;
}
p {
  font-family: 'Work Sans', sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
#content {
  min-height: 100%;
  position: relative;
}
#main {
  min-height: 100%;
  padding: 10px;
  padding-bottom: 200px;
}
#footer {
  position: absolute;
  bottom: 0;
  padding: 10px 0;
  width: 100%;
  color: #999999;
  background-color: #222222;
}
Link:hover, Link:focus, a:hover, a:focus {
  color: white;
  text-decoration: none;
  background-color: #222222;
}
Link:focus, a:focus {
  outline: thin dotted #333;
  outline: 5px auto;
  outline-offset: -2px;
}
#coffee-detail {
  padding-bottom: 330px
}
#coffee-detail .row {
  padding-bottom: 50px
}
#coffee-detail-info {
  background: #FFF;
}
.active {
  color: white;
  background-color: #222222;
}
.carousel-inner img {
  max-height: 750px;
  max-width: 1500px;
  margin: auto;
}
#coffee-item {
  max-height: 33%;
  padding-left: 5px;
  padding-right: 5px;
}
.sort-menu h2 {
  margin-top: 0px;
}
#coffee-box {
  padding-top: 100px;
  padding-bottom: 330px;
}
#origin {
  margin-bottom: 50px;
  /*background-color: #fce87c;*/
}
#origin a {
  margin-left: -15px;
}
#search {
  padding-left: 0;
}
#search ul {
  padding-left: 0;
}
#search li {
  padding-bottom: 15px;
}
#search a {
  padding-bottom: 10px;
}
#subscription-list,
#subscription-page {
  padding-bottom: 330px;
}
#subscription-info {
  color: white;
  background-color: #999999;
  padding: 0;
  margin: 20px;
}

#subscription-user,
#subscription-coffee {
  padding-top: 10px;
  padding-bottom: 10px;
}
#subscription-coffee img {
  width: 100px;
  height: 100px;
}
#helpBlock {
  color: red;
}
hr {
  background-color: black;
  height: 2px;
  width: 90%;
}
.btn {
  color: white;
  background-color: #222222;
}
form {
  padding: 50px;
}
.open> .dropdown-menu {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}
.open> .dropdown-menu li a {
  color: #999999;
}
.dropdown-menu li a {
  color: white;
}
.dropdown-menu {
  -webkit-transform-origin: top;
  transform-origin: top;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-transform: scale(1, 0);
  transform: scale(1, 0);
  display: block;
  transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  background-color: #222222;
}
.dropup .dropdown-menu {
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}
.navbar .nav> li> .dropdown-menu:after {}
.dropup> .dropdown-menu:after {
  border-bottom: 0;
  border-top: 6px solid rgba(39, 45, 51, 0.9);
  top: auto;
  display: inline-block;
  bottom: -6px;
  content: '';
  position: absolute;
  left: 50%;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
}
